.logo{width: 50px;}
.img1{width: 100%;}
.btn1{text-decoration: none;}
.btn1:hover{
    text-decoration: underline;
}

.card:hover{transform: scale(1.1);}

.img2{width: 100px;}
footer{background-color: #0056D2;}