/* NAVBAR */
.logo{width: 50px;}


/* MAIN */

.btn1{text-decoration: none;}
.btn1:hover{
    text-decoration: underline;
}
.card:hover{transform: scale(1.1);}

.linkAnuncio{color: white; }



/* FOOTER */
footer{background-color: #0056D2;}

.linkFooter{text-decoration: none;
color: aliceblue;}

.linkFooter:hover{
    color: #000000;
}
.img2{width: 100px;}



@media screen and (max-width: 1050px){
    footer section{display: flex; flex-direction: column;}
    .fontFooter{order: 3;}
    .logoFooter{order: 2;}
    .politica{gap: 8px;}
    
}